ansible==4.10.0
ansible-core==2.11.12
cffi==1.15.0
cryptography==37.0.2
flake8==4.0.1
importlib-metadata==4.2.0
Jinja2==3.1.2
jinja2-cli==0.8.2
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.3
pathspec==0.9.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyparsing==3.0.9
PyYAML==6.0
resolvelib==0.5.4
typing_extensions==4.2.0
yamllint==1.26.3
zipp==3.8.0
